In [7]:
x = [1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
z = x.pop(6)
print(z)
x

7

[1, 2, 3, 4, 5, 6, 8]

In [25]:
list= [3,4,5,6,78,87,98,89]
poppedvalue = list.pop()
poppedvalue
list

[3, 4, 5, 6, 78, 87, 98]

In [36]:
list= [3,4,5,6,78,87,98,89]
poppedvalue = list.pop()
print(poppedvalue)
list

89

[3, 4, 5, 6, 78, 87, 98]

In [28]:
poppedvalue = list.pop()
poppedvalue

87

In [29]:
slicedlist = list[2:5]
slicedlist

[5, 6, 78]

In [20]:
list

[3, 4, 5, 6, 78, 87, 98]

In [41]:
todo = ["play time","outing time","friends","family time"]
poppedvalue = todo.pop(0)
todo

['outing time', 'friends', 'family time']

In [85]:
todo = ["play time","outing time","friends","family time"]
#empty list
tasksdone=[]

In [87]:
#list of all tasks
todo = ["play time","outing time","friends","family time"]
#empty list
tasksdone=[]
#input ka task hogya
status = input("have you done the task")
if status=="y":
    hogayakam = todo.pop()
    tasksdone.append(hogayakam)
    
print(todo)
print(tasksdone)
#remove the task from list of all tasks
#add the remove task into the empty list

have you done the tasky
['play time', 'outing time', 'friends']
['family time']

In [47]:
print(todo)

['play time', 'outing time', 'friends']

In [48]:
print(tasksdone)

['family time']

In [91]:

#input ka task hogya
if len(todo)!=0:
    status = input("have you done the task")
    if status=="y":
       hogayakam = todo.pop()
       tasksdone.append(hogayakam)
else: 
    print("there are no tasks in tasks list")    
    
print(todo)
print(tasksdone)

there are no tasks in tasks list
[]
['family time', 'friends', 'outing time', 'play time']

# for loops

In [95]:
for num in range(10):
    print(num, "Hussain Mansoori")

0 Hussain Mansoori
1 Hussain Mansoori
2 Hussain Mansoori
3 Hussain Mansoori
4 Hussain Mansoori
5 Hussain Mansoori
6 Hussain Mansoori
7 Hussain Mansoori
8 Hussain Mansoori
9 Hussain Mansoori

In [96]:

for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [98]:
foods = ["pasta","briyani","BBQ"]
for food in foods:
    print(food)

pasta
briyani
BBQ

In [99]:

for food in ["pasta","briyani","BBQ"]:
    print(food)

pasta
briyani
BBQ

In [106]:
brands = ["levis","out fitters","polo","puma"]
for brand in brands:
    print("i love to buy " + brand.title()+",")

i love to buy Levis,
i love to buy Out Fitters,
i love to buy Polo,
i love to buy Puma,

In [109]:
bhaiya = ["pasta","briyani","BBQ"]
for bhaiya in bhaiya:
    print("bhaiya" ,bhaiya)

bhaiya pasta
bhaiya briyani
bhaiya BBQ

In [111]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [113]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [115]:
for i in "h","u","s","s","a","i","n":
    print(i)

h
u
s
s
a
i
n

In [119]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [123]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)
print(sum(squares))
print(max(squares))
print(min(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
385
100
1

In [126]:
for a in "Pakistan":
    print(a)

P
a
k
i
s
t
a
n

In [127]:
for a in "Pakistan","karachi":
    print(a)

Pakistan
karachi

In [128]:
for a in "Pakistan":
    print(a, end="/")

P/a/k/i/s/t/a/n/

# list comprehension

In [129]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [130]:
[x**2 for x in range(1,11) if x%2==0]

[4, 16, 36, 64, 100]

In [136]:
list = [1,2,3,4,5,6,7,8]
num = input("enter a number")
if num=="list":
    print("num axists")
else:
    print("does not")

enter a number9
does not

In [137]:
list = [1,2,3,4,5]
num =int(input())
list = [1,2,3,4,5]
[list**2 for list in list if num == list]

2

[4]

# break

In [9]:
break_list = [1,5,6,9,10]
for i in break_list:
    print(i)
    if i == 6:
        break

1
5
6

In [11]:
# agr apko pta krna h k apki value list m hai ya nh
6 in break_list

True

In [28]:
break_list = [1,5,4,6,9,10]
for i in break_list:
    if i == 4:
        continue
    print(i)

1
5
6
9
10

In [27]:
break_list = [1,5,4,6,9,10]
for i in break_list:
    if i == 4:
        continue
    print(i)

1
5
6
9
10

In [40]:
list = ["a","b","c","d","e","f"]
for i in list:
    if i == ("c"):
        continue
    print(i)

a
b
d
e
f

# nested loop

In [41]:
first_names = ["hussain","noman","salman","usama","shahrukh","waqas"]
last_names = ["mansoori","mna","mansoori","syed","rehman","mallick"]

In [42]:
full_names = []

In [43]:
for f in first_names:
    for l in last_names:
        full_names.append(f +" "+l)
full_names

['hussain mansoori',
 'hussain mna',
 'hussain mansoori',
 'hussain syed',
 'hussain rehman',
 'hussain mallick',
 'noman mansoori',
 'noman mna',
 'noman mansoori',
 'noman syed',
 'noman rehman',
 'noman mallick',
 'salman mansoori',
 'salman mna',
 'salman mansoori',
 'salman syed',
 'salman rehman',
 'salman mallick',
 'usama mansoori',
 'usama mna',
 'usama mansoori',
 'usama syed',
 'usama rehman',
 'usama mallick',
 'shahrukh mansoori',
 'shahrukh mna',
 'shahrukh mansoori',
 'shahrukh syed',
 'shahrukh rehman',
 'shahrukh mallick',
 'waqas mansoori',
 'waqas mna',
 'waqas mansoori',
 'waqas syed',
 'waqas rehman',
 'waqas mallick']

In [8]:
for i in range(1,11):
    print("2 *"+ str(i)+ "="+ str(i*2))

2 *1=2
2 *2=4
2 *3=6
2 *4=8
2 *5=10
2 *6=12
2 *7=14
2 *8=16
2 *9=18
2 *10=20

In [12]:
for i in range(2,11):
    for j in range(1,11):
        print(str(i)+" * "+str(j+" = "+str(i*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [5]:
for table in range(2,6):
    for counting in range(1,11):
        print(table,"*",counting,"=",counting*table)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
 start = int(input("enter start of table"))
end = int(input("enter end of table"))

for table in range(start,end+1):
    for counting in range(1,11):
        print(table,"*",counting,"=",counting*table)
        
    print("=========")

enter start of table2
enter end of table3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
=========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
=========

# dictionaries

In [18]:
#dct = {key:value,key:value,key:value,key:value,key:value,key:value}

In [23]:
dct = {}

In [24]:
type(dct)

dict

In [45]:
dct = {1:100,2:200,3:300,4:400}
dct1 = {"a","apple",'b'"ara apple"}
dct2 = {1:"a",2:"b",3:"c"}
dct3 = {"apple":100,"orange":200}
dct4 = {"name":["asad","saad","alfa"],1:99999}
dct5 = {"a1":[dct,dct1,dct2,dct3,dct4]}


dct[1]

100

In [60]:
dct = {1:100,2:200,3:300,4:400}
dct1 = {"a":"apple",'b':"bara apple"}
dct2 = {1:"a",2:"b",3:"c"}
dct3 = {"apple":100,"orange":200}
dct4 = {"name":["asad","saad","alfa"],1:99999}
dct5 = {"a1":[dct,dct1,dct2,dct3,dct4]}


dct[1]
dct1["b"]
dct4["name"]

['asad', 'saad', 'alfa']

In [61]:
del dct2[1]
dct2

{2: 'b', 3: 'c'}

In [62]:
dct5[3]=1232 #addition
dct5

{'a1': [{1: 100, 2: 200, 3: 300, 4: 400},
  {'a': 'apple', 'b': 'bara apple'},
  {2: 'b', 3: 'c'},
  {'apple': 100, 'orange': 200},
  {'name': ['asad', 'saad', 'alfa'], 1: 99999}],
 3: 1232}

In [64]:
dct4["name"][1]

'saad'

In [75]:
dct7 = {1:{11:"a",22:"b",33:"d",44:"g",55:"y4z"},2:"1234567"}
dct7[1][55][1]

'4'

In [85]:
dct8 = {1:"a",2:"b",3:"c",4:"d"}

In [86]:
for key,value in dct8.items():
    print(key,value)

1 a
2 b
3 c
4 d

In [87]:
for key in dct8.keys():
    print(key)

1
2
3
4

In [88]:
for value in dct8.values():
    print(value)

a
b
c
d

In [93]:
for key in dct8.keys():
    print(dct8[key])

a
b
c
d