# list , Append , Insert , Delete and update

In [14]:
my_fav_dishes = []
my_fav_car = ["mehran","nisan","chinchi","khan coach","alto"]
#calling a value by their index number
my_fav_car [2]
my_fav_car.append("dayz")
my_fav_car

['mehran', 'nisan', 'chinchi', 'khan coach', 'alto', 'dayz']

In [5]:
mix_list = ["civic",300000,"honda"]
mix_list

['civic', 300000, 'honda']

In [16]:
cities =["karachi","lahore","islamabad","sindh"]
cities[2] = "muree"
cities

['karachi', 'lahore', 'muree', 'sindh']

In [20]:
bike = ['cd 70','cg 125','suzuki']
del bike[2]
bike

['cd 70', 'cg 125']

In [26]:
mix_list = ["civic",300000,"honda"]
mix_list.insert(1,"honda")
len(mix_list)

4

In [29]:
#how to find intex from value .?

cities =["karachi","lahore","islamabad","sindh"]
cities.index("lahore")

#how to get a length of list.?
len(cities)

4

# Find a specific value in list

In [32]:
cities =["karachi","lahore","islamabad","sindh"]
"karachi" in cities

True

In [33]:
check_quaid = ["allama iqbal","quaid","nasir hussain","shahzad"]
"quaid" in check_quaid

True

# Task 01

In [37]:
friends = ["salman","usama","shahrukh","zain","waqas"]
friends.append("shameer")
friends

['salman', 'usama', 'shahrukh', 'zain', 'waqas', 'shameer']

In [38]:
friends = ["salman","usama","shahrukh","zain","waqas"]
friends.insert(3, "shameer")
friends

['salman', 'usama', 'shahrukh', 'shameer', 'zain', 'waqas']

In [40]:
friends = ["salman","usama","shahrukh","zain","waqas"]
del friends[2]
friends

['salman', 'usama', 'zain', 'waqas']

In [50]:
friends = ["salman","usama","shahrukh","zain","waqas"]

friends[2] = "shameer"
friends

['salman', 'usama', 'shameer', 'zain', 'waqas']

In [45]:
ek_or_list =["a","b"]
ek_or_list.append(["c","d"])
ek_or_list

['a', 'b', ['c', 'd']]

In [46]:
ek_or_list

['a', 'b', ['c', 'd']]

In [47]:
ek_or_list[2]

['c', 'd']

In [48]:
ek_or_list[2][1]

'd'

# class 03

# slicing

In [1]:
mylist=[1,2,3,4,5,6,7,8,9]

In [2]:
mylist[5]

6

In [3]:
#mylist[start:end]
mylist[3:5]

[4, 5]

In [4]:
mylist[4:14]

[5, 6, 7, 8, 9]

In [5]:
mylist[:6]

[1, 2, 3, 4, 5, 6]

In [6]:
mylist[:-1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
mylist[2:-3]

[3, 4, 5, 6]

In [13]:
mylist[2:4]

[3, 4]

In [16]:
mylist=[1,2,3,4,5,6,7,8,9]

In [17]:
mylist[2:-4]

[3, 4, 5]

In [18]:
players=["afridi","misbha","u-akmal","usman"]

In [19]:
players[0:2]

['afridi', 'misbha']

# delete&removing

In [20]:
mylist=[1,2,3,4,5,6,7,8,9]

In [29]:
mylist

[1, 2, 3, 4, 6, 5, 6, 7, 9]

In [36]:
yourlist=["a","b","c","d","e"]
yourlist*2
yourlist2=["w","z","x"]
yourlist = yourlist+yourlist2
yourlist

['a', 'b', 'c', 'd', 'e', 'w', 'z', 'x']

In [12]:
value1 = 4
value2 = value1
value1

4

In [13]:
value1 = 6
value2 = value1
id(value1)

8791453578224

In [5]:
list=[0,1,2,3,4,5,6,7,8,9]

In [6]:
list.remove(8)

In [7]:
list

[0, 1, 2, 3, 4, 5, 6, 7, 9]

In [15]:
a=[1,2]

In [16]:
a

[1, 2]

In [17]:
b=[2,222]

In [18]:
b

[2, 222]

In [25]:
c=[4,567]

In [26]:
c

[4, 567]

In [19]:
a=b
a

[2, 222]

In [20]:
b.append(34)

In [22]:
a

[2, 222, 34]

In [27]:
a = c.copy()

In [28]:
a

[4, 567]

In [32]:
mlist = ['apple','oranges']
plist = mlist

del mlist[1]
plist

['apple']

In [33]:
mlist = ["apple","oranges"]
plist=mlist.copy()
del mlist[1]
print(mlist)
plist

['apple']

['apple', 'oranges']

In [35]:
mlist = ["apple","oranges"]
plist=mlist[:]
del mlist[1]
print(mlist)
plist

['apple']

['apple', 'oranges']

# tupples

In [38]:
mytupple = "Pakistan","india"


mytupple[0]

'Pakistan'

In [40]:
names = ("Pakistan","india")
names2 = names[1:]
names2

('india',)

In [42]:
names = "Pakistan","india",3333,7777
x,y,z,a= names
print(x,y,z,a)

Pakistan india 3333 7777

In [43]:
names = "Pakistan zindabad"
names[3:7]

'ista'

In [51]:
names = "Pakistan@zindabad@india"
x = names.split("@")
x

['Pakistan', 'zindabad', 'india']